<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カレンダー/しっかりタスク</title>
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/calender.css">
</head>
<body>
	<a href="/home" id="headder"><h1>しっかりタスク</h1></a>
	<div class="headlink">

	<a class="a" href="/home">ホーム</a>
	｜
	<a class="a" href="/tasks">タスク一覧</a>
	｜
	<a href="/tasks/new" class="a">タスク新規登録</a>
	｜
	<a href="/categories" class="a">カテゴリー一覧</a>
	｜
	<a href="/users/view" class="a">ユーザー情報</a>
	｜
	<a href="/users/logout" class="a">ログアウト</a>
	</div>
	<main>
	<h2>-カレンダー-</h2>
	<h3 th:text="${calenderhead}"></h3>
<table border="1">
	<tr>
		<th>日</th>
		<th>月</th>
		<th>火</th>
		<th>水</th>
		<th>木</th>
		<th>金</th>
		<th>土</th>
	</tr>
	<tr th:each="calender:${calenders}">
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.sun.getDate()})}">
				<button class="sunday" th:text="${calender.sun.getDay()}"></button><br>
				<span th:if="${calender.sunTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.sunTON==1}" class="tasknone">タスクなし</span>				
			</form>
		</td>
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.mon.getDate()})}">
				<button class="day" th:text="${calender.mon.getDay()}"></button><br>
				<span th:if="${calender.monTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.monTON==1}" class="tasknone">タスクなし</span>
			</form>
		</td>
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.tue.getDate()})}">
				<button class="day" th:text="${calender.tue.getDay()}"></button><br>
				<span th:if="${calender.tueTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.tueTON==1}" class="tasknone">タスクなし</span>
			</form>
		</td>
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.wed.getDate()})}">
				<button class="day" th:text="${calender.wed.getDay()}"></button><br>
				<span th:if="${calender.wedTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.wedTON==1}" class="tasknone">タスクなし</span>
			</form>
		</td>
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.thu.getDate()})}">
				<button class="day" th:text="${calender.thu.getDay()}"></button><br>
				<span th:if="${calender.thuTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.thuTON==1}" class="tasknone">タスクなし</span>
			</form>
		</td>
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.fri.getDate()})}">
				<button class="day" th:text="${calender.fri.getDay()}"></button><br>
				<span th:if="${calender.friTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.friTON==1}" class="tasknone">タスクなし</span>
			</form>
		</td>
		<td>
			<form th:action="@{tasks/{date}/editcalender(date=${calender.sat.getDate()})}">
				<button class="satday" th:text="${calender.sat.getDay()}"></button><br>
				<span th:if="${calender.satTON==2}" class="taskthere">タスクあり</span>
				<span th:if="${calender.satTON==1}" class="tasknone">タスクなし</span>
			</form>
		</td>
		</span>
	</tr>
	
</table>
	</main>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
</body>

</html>
