<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>カレンダー編集</title>
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div id="headder">
	<h1>しっかりタスク</h1>
	<div class="headlink">
		<a href="/home" class="a">ホーム</a>
		｜
		<a href="/tasks" class="a">タスク一覧</a>
		｜
		<a href="/calender" class="a">カレンダー</a>
		｜
		<a href="/tasks/new" class="a">タスク新規登録</a>
		｜
		<a href="/categories" class="a">カテゴリー一覧</a>
		｜
		<a href="/users/view" class="a">ユーザー情報</a>
		｜
		<a href="/users/logout" class="a">ログアウト</a>
	</div>
	</div>
	<h2>-カレンダー編集-</h2>
	<main>
		<table border="1">
			<tr>
				<th>タスクID</th>
				<th>タイトル</th>
				<th>カテゴリ</th>
				<th>期限</th>
				<th>実施状況</th>
				<th>更新</th>
				<th>削除</th>
				<th>進展</th>
				<th>後退</th>
			</tr>
			<tr th:each="task:${taskList}">
				<td th:text="${task.id}"></td>
				<td th:text="${task.title}"></td>
				<td th:text="${task.category.name}"></td>
				<td th:text="${task.closingDate}"></td>
				<td th:switch="${task.progress}">
					<span th:case=0 th:text="未着手"></span>
					<span th:case=1 th:text="進行中"></span>
					<span th:case=2 th:text="完了"></span>
				</td>
				<td>
					<form th:action="@{/tasks/{id}/edit(id=${task.id})}"><button class="propaty">更新</button></form>
				</td>
				<td><form th:action="@{/tasks/{id}/delete(id=${task.id})}" method="post"><button class="propaty">削除</button></form></td>
				<td>
					<form th:action="@{/tasks/{id}/increase(id=${task.id})}" method="get">
						<input type="hidden" name="categoryId" th:value=${task.categoryId}>
						<input type="hidden" name="userId" th:value="${task.userId}">
						<input type="hidden" name="title" th:value="${task.title}">
						<input type="hidden" name="closingDate" th:value="${task.closingDate}">
						<input type="hidden" name="progress" th:value="${task.progress}">
						<input type="hidden" name="memo" th:value="${task.memo}">
						<button class="propaty">進展</button>
					</form>
				</td>
				<td><form th:action="@{/tasks/{id}/decrease(id=${task.id})}" method="get">
						<input type="hidden" name="categoryId" th:value=${task.categoryId}>
						<input type="hidden" name="userId" th:value="${task.userId}">
						<input type="hidden" name="title" th:value="${task.title}">
						<input type="hidden" name="closingDate" th:value="${task.closingDate}">
						<input type="hidden" name="progress" th:value="${task.progress}">
						<input type="hidden" name="memo" th:value="${task.memo}">
						<button class="propaty">後退</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
</body>
</html>