<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home/しっかりタスク</title>
<link rel="stylesheet" type="text/css" href="/css/header.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
		<h1>しっかりタスク</h1>
		<div class="headlink">
		<a href="/tasks" class="a">タスク一覧</a>
		｜
		<a href="/calender" class="a">カレンダー</a>
		｜
		<a href="/tasks/new" class="a">タスク新規登録</a>
		｜
		<a href="/categories" class="a">カテゴリー一覧</a>
		｜
		<a href="/users/view" class="a">ユーザー情報</a>
		｜
		<a href="/users/logout" class="a">ログアウト</a>
		</div>
	<main>
		<h2>-HOME-</h2>
		<p id="hello">こんにちは</p>
		<p id="user">[[${@account.name}]]さん</p>
		
		<table border="1">
			<tr><th>タスクの実施状況</th></tr>
			<tr>
				<th>未実施</th>
				<td th:text="${none}"></td>
			</tr>
			<tr>
				<th>進行中</th>
				<td th:text="${pro}"></td>
			</tr>
			<tr>
				<th>完了</th>
				<td th:text="${per}"></td>
			</tr>
		</table>
		
	</main>

</body>
</html>